<!DOCTYPE html>

<html>
    <head>
        
        <title>Mind-Byte Initiative</title>
        <link rel="icon" href="#" type="image/x-icon">
        <meta charset="UTF-8">
        <meta name="author" content="online trainig">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
       
        <meta http-equiv="refresh" content="90">
        <meta name="keywords" content="">
    <link rel = "icon" href ="img/logo.png" type = "image/x-icon"> 
       <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
        <link rel="stylesheet" href="style1.css" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
       
        
        
    </head>

    <body id="body1">
   
         <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: #001970">
            <div class="container">
            <div class="navbar-header">
                <img src="img/tlogo.png" alt="logo" class="img-responsive navbar-fixed-top" width="80" height="80"  style="margin-top: 0  ; margin-left: 30px" >
                <a href="index.html" class="navbar-brand brand" style="color: white"> MindByte Initiative Management</a>
            </div>
               
           <ul class="nav navbar-nav navbar-right sty">
                                      <li><a href="page1.html" ><span class="glyphicon glyphicon-cd" style="color:white"></span>  Operation </a></li>
                    <li><a href="page2.html"                
><span class="glyphicon glyphicon-book" style="color:white" ></span>  L & D </a></li>
                    <li><a href="page3.html" ><span class="
glyphicon glyphicon-asterisk" style="color:white" ></span>  Quality </a></li>
                

                </ul>
         </div>
      
        </nav>
       
      <div class="operation">
        <button onclick="myFunction1()" class="bo bo1"> Operation </button>
        
          <p id="op1"></p>

<script>
function myFunction1() {
document.getElementById("ld").innerHTML="";
    document.getElementById("ql").innerHTML="";
  document.getElementById("op1").innerHTML = " Operation :- It is Reagrding the project , to view pipeline and People belongs to the project";

}
    function close(){
        myFunction1.close();
    }
</script>
        </div>
        
        
         <div class=" Leraning">
        <button onclick=" myFunction2(); myFunction1.close(); " class="ld ld1"> Learning and Development </button>
          <p id="ld"></p>

<script>
function myFunction2() {
   document.getElementById("op1").innerHTML="";
    document.getElementById("ql").innerHTML="";
  document.getElementById("ld").innerHTML = " L & D :- Refers the Learning and development which specifc to the upskill of employees regarding new amazing projects; *Learn and Earn*" 
}
</script>
        </div>
          <div class=" Quality">
        <button onclick=" myFunction3(); " class="ql ql1"> Quality </button>
          <p id="ql"></p>

<script>
function myFunction3() {
   document.getElementById("ld").innerHTML="";
    document.getElementById("op1").innerHTML="";
  document.getElementById("ql").innerHTML = " Quality :- it is regarding the quality and performance of the project" 
}
</script>
        </div>
        
        
        
        
         <footer>
            <div class="container" >
                <center>
                    <span style="color: white"> Copyright © Minbyte Initiative Managment | </span> <span style="color: white"> <em>contact us on | </em> <i style="font-size:24px" class="fa">&#xf230;</i> |   <i style="font-size:24px" class="fa">&#xf16d;</i>  |  <i style="font-size:24px" class="fa">&#xf0e1;</i></span>
                </center>
            </div>
                
        </footer>
             
        
        
        
        
        
        
        
        
        
        
        
        
         
    </body>
</html>