<!DOCTYPE html>
{% include "includes/nav1.html" %}

    <body id="body">
   
         <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: #1a237e; height:100;">
            <div class="container">
              <div class="navbar-header">
                <img src="static/images/logoprac.png" alt="logo" class="img-responsive navbar-fixed-top" width="90" height="60"  style="margin-top: 0  ; margin-left: 0;margin-bottom:0;" >
                <a href="index.html" class="navbar-brand" style="color: white;text-align:auto;"> <b>MindByte Initiatives Management </b> </a>
              </div>

            </div>
        </nav>
       
       <div class="a">

           <div class="text1" style="margin-top:90px;">
              <table>
		<tr>
		   <td style="text-align:center;  background-color: #04AA6D;padding:4px;width:15%;">Service-Now</td>
		   <td style="width:80%;"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p> 
			<p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p></td>
		   <td style="width:20%"><button style="font-size: 18px;width: 180px;padding:20px; color:black;" onclick="window.location.href ='#login.html';"><b>Login<b></button></td>
 		</tr>
	     </table>
           </div>

           <div class="text1">
              <table>
		<tr>
		   <td style="text-align:center;  background-color: #04AA6D;padding:4px;width:15%;">SoftEngg</td>
		   <td style="width:80%;"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p> 
			<p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p></td>
		   <td style="width:20%;"><button class="btn" style="font-size: 18px;width: 180px;padding:20px; color:black;" onclick="window.location.href ='#login.html';"><b>Login<b></button></td>
 		</tr>
	     </table>
	   </div>

           <div class="text1">
              <table>
		<tr>
		   <td style="text-align:center;  background-color: #04AA6D;padding:4px;width:15%;">DataEngg</td>
		   <td style="width:80%;"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p> 
			<p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p></td>
		   <td style="width:20%;"><button class="btn" style="font-size: 18px;width: 180px;padding:20px; color:black;" onclick="window.location.href ='#login.html';"><b>Login<b></button></td>
 		</tr>
	     </table>
           </div>

           <div class="text1">
              <table>
		<tr>
		   <td style="text-align:center;  background-color: #04AA6D;padding:4px;width:15%;">RoboPro-Auto</td>
		   <td style="width:80%;"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p> 
			<p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p></td>
		   <td style="width:20%;"><button class="btn" style="font-size: 18px;width: 180px;padding:20px; color:black;" onclick="window.location.href ='#login.html';"><b>Login<b></button></td>
 		</tr>
	     </table>
           </div>

           <div class="text1" style="margin-bottom:55px;">
              <table>
		<tr>
		   <td style="text-align:center;  background-color: #04AA6D;padding:4px;width:15%;">Low-Code</td>
		   <td style="width:80%;"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p> 
			<p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p></td>		   
		   <td style="width:20%;"><button class="btn" style="font-size: 18px;width: 180px;padding:20px; color:black;" onclick="window.location.href ='#login.html';"><b>Login<b></button></td>
 		</tr>
	     </table>
           </div>

       
        </div>
             
                
        {% include "includes/footer.html" %}
        
         
    </body>
</html>